

.header{
    background-color:rgba(229, 84, 115, 0.10);
    height: 510px;
    display: flex;
    justify-content: space-between;
}
.header-left{
    width: 400px;
    margin-left: 200px;
    margin-top: 140px;
}
.header-title{
    font-size: 40px;
}
.header-right{
    margin-top: 82px;
    margin-right: 180px;
}
.btn-primary{
    padding: 10px 14px;
    background-color: rgb(207, 105, 105);
    color: white;
    border-radius: 7px;
    border: none;
}
/* header section end */

.feature-title{
    text-align: center;
    font-weight: 900;
    margin-top: 70px;
    font-size: 33px;
}
.feature-deatils{
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}


/* feature section start*/

.boxs{
    margin: 50px 200px;
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.boxa{
    width: 350px;
    height: 420px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}
.boxb{
    width: 350px;
    height: 420px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
}
.boxc{
    width: 350px;
    height: 420px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
}
.boxone{
    width: 200px;
    height: 300px;
    padding: 120px 30px 0px 20px;
}

.boxtwo{
    width: 200px;
    height: 300px;
    padding: 120px 0px 0px 50px;
}
.boxthree{
    width: 200px;
    height: 300px;
    padding: 120px 0px 0px 50px;
}
/* extra part */
.extra-part{
    margin: 70px 200px;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
}
.extra-sec-part{
    padding-top: 20px;
}
/* deal section */
.hot-deal{
    display: flex;
    justify-content: space-around;
    background-color: rgb(195, 202, 202);
}
.deal-left{
    margin: 100px 100px 100px 250px;
}
.deal-head{
    font-size: 40px;
    font-weight: 900;
}
.deal-image{
    margin-right: 250px;
    margin-top: 30px;
}
/* instagram section */
.insta-head{
    text-align: center;
    font-size: 35px;
    font-weight:900;
    margin-top: 70px;
}
.insta-discription{
    text-align: center;
    margin: 30px 0px;
}
.insta-box{
    display: flex;
    justify-content: space-around;
    margin: 50px 200px;
    gap: 20px;
}
.insta-pic{
    width: 130;
    height: 200px;
}
/* latest deal section */
.latest-deal{
    background-image: url("./images/Rectangle9.png");
    margin: 70px 200px;
    height: 280px;
}
.latest-deal-head{
    text-align: center;
    font-size: 30px;
    padding-top: 60px;
}
.hot-deal-text{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.mail-button{
    margin-left: 200px;
    width: 400px;
    height: 33px;
    border: none;
    border-radius: 4px;
}

